/*******SECTION WHY CHOOSE********/

.whychoose-container{
    height: fit-content;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    background-image: url("./images/fondo6.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cards-whychoose-container{
    padding: 2% 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 2%;
    justify-items: center;
  }

  .card-whychoose{
    background: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-whychoose:hover{
    scale: 105%;
    transition: all 0.3seg ease-out;
  }

    h3{
      font-size: 120%;
      font-weight: 600;
    }

    .card-whychoose img{
      height: 50%;
      width: 50%;
    }

@media screen and (max-width: 520px) {
  .cards-whychoose-container{
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  .card-whychoose{
    height: 160px;
    width: 160px;
  }
  h3{
    font-size: 100%;
    font-weight: 600;
  }
}